



/*CSS for buttons below*/
button
{	
	height: 75px;
    width: 75px;
    margin: 5px;
    border: 2px solid black;
    background-color: #AAAEBF;
    font-size: 1.5em;
}

button#clear {
	background-color: #E46565;
}

button#zero {
	height: 75px;
	width: 165px;
}

#overallContainer {
	border: 2px solid black;
	width: 354px;
	background-color: #696875;
}

#fieldOne, #fieldTwo {
	height: 75px;
	width: 125px;
	margin: 5px;
	font-size: 1.5em;
	border: 2px solid black;
}

#operator {
	height: 75px;
	width: 45px;
	margin: 5px;
	font-size: 1.5em;
	border: 2px solid black;


}



