body, html {
	margin: 0;
	padding: 0;
	font-family: 'Trebuchet MS', verdana;
	height: 100%;
}

.nav {
	background-color: #999f8e;
	width: 20%;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;

}



.content {
	background-color: #d2d8c7;
	width: 80%;
	height: 350px;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	overflow: auto;

}




